.Item {
  width: 600px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: rgb(60, 62, 68);
  border-radius: 0.5rem;
  margin: 0.75rem;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px,
    rgb(0 0 0 / 6%) 0px 2px 4px -1px;
}

.ItemContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.Title{
  color: #02b1c8;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.Info {
  display: flex;
  margin: 15px 0;

  label:first-child {
    margin-right: 20px;
  }
}

@media (max-width: 640px) {
  .Item {
    flex-direction: column;
    height: initial;
    width: 100%;
  }
}