.Wrap {
  right: 0;
  width: 100%;
  left: 0;
}

.Select {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  position: relative;
  width: 100%;
}

.SelectText {
  position: relative;
  font-family: inherit;
  background-color: transparent;
  width: 100%;
  padding: 10px 10px 10px 0;
  font-size: 18px;
  color: #ffffff;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ffffff;
}

.SelectText:focus {
  outline: none;
  border-bottom: 1px solid #ffffff;
}

.Select .SelectText {
  appearance: none;
  -webkit-appearance: none;
}

.Select:after {
  position: absolute;
  top: 18px;
  right: 10px;
  width: 0;
  height: 0;
  padding: 0;
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #ffffff;
  pointer-events: none;
}

.SelectLabel {
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 10px;
  transition: 0.2s ease all;
}

.SelectText:focus ~ .SelectLabel,
.SelectText:valid ~ .SelectLabel {
  color: #ffffff;
  top: -20px;
  transition: 0.2s ease all;
  font-size: 14px;
}

.SelectBar {
  position: relative;
  display: block;
  width: 100%;
}

.SelectBar:before,
.SelectBar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #ffffff;
  transition: 0.2s ease all;
}

.SelectBar:before {
  left: 50%;
}

.SelectBar:after {
  right: 50%;
}

.SelectText:focus ~ .SelectBar:before,
.SelectText:focus ~ .SelectBar:after {
  width: 50%;
}

.SelectHighlight{
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
