.PaginationContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
  color: #ffffff;
}

.PaginationPage,
.PaginationSelectedPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
}

.PaginationPage {
  border: solid 1px;
  border-radius: 5px;
}

.PaginationSelectedPage {
  color: #02b1c8;
  border: solid 1px #02b1c8;
  border-radius: 5px;
}

.PaginationBtn {
  margin-right: 10px;
}

.PaginationBtn:hover {
  color: #02b1c8;
}
