.Character {
  width: 600px;
  height: 250px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background: rgb(60, 62, 68);
  border-radius: 0.5rem;
  margin: 0.75rem;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px,
    rgb(0 0 0 / 6%) 0px 2px 4px -1px;
}

.AvatarContaier {
  flex: 2 1 0%;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    margin: 0px;
    opacity: 1;
    transition: opacity 0.5s ease 0s;
    object-position: center center;
    object-fit: cover;
  }
}

.InfoContaier {
  flex: 3 1 0%;
  position: relative;
  padding: 0.75rem;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

.Title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}

.Info {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.Item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.IndicatorAlive,
.IndicatorDead,
.IndicatorUnknown {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.IndicatorAlive {
  background: greenyellow;
}

.IndicatorDead {
  background: red;
}

.IndicatorUnknown {
  background: khaki;
}

.Icon {
  width: 15px;
  height: 15px;
  margin-left: -2px;
  margin-right: 10px;
}

@media (max-width: 640px) {
  .Character {
    flex-direction: column;
    height: initial;
    width: 100%;
  }
}
