.App {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background: #000000;
}

.Wrapper {
  width: 100%;
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
