.Wrap,
.SpinnerWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SpinnerWrapper {
  height: calc(100vh - 100px);
}

.EpisodesList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #ffffff;
}

.Filters {
  width: 80%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Field {
  width: 100%;
  max-width: 350px;
}

.Error {
  display: flex;
  max-width: 1224px;
  width: 80%;
}

.Pagination {
  width: 100%;
  display: flex;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
}
